@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

// Font Family
$font-urbanist: 'Urbanist',
sans-serif;

// Font Weight Variants
$urbanist-thin: 100;
$urbanist-extralight: 200;
$urbanist-light: 300;
$urbanist-regular: 400;
$urbanist-medium: 500;
$urbanist-semibold: 600;
$urbanist-bold: 700;
$urbanist-extrabold: 800;
$urbanist-black: 900;